.modal-container {
  display: none;
  position: fixed;
  background-color: #171717;
  width: clamp(30rem, 20vw, 45rem);
  height: 15vh;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  padding: 1.8rem;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.modal-container.active {
  display: grid;
  grid-template-columns: 35% 65%;
}
.modal-container .modal-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.modal-container .modal-image img {
  height: 100%;
}
.modal-container .modal-message {
  display: flex;
  justify-content: center;
}
.modal-container .modal-message p.message {
  margin-top: 0;
  padding-left: 5px;
  padding-top: 5px;
  color: #d2143a;
  font-size: 1.35rem;
}
