body section#showcase {
  position: relative;
  margin-bottom: 20rem;
}
body section#showcase .context-menu {
  box-shadow: 0px 3px 9px 0px rgba(155, 155, 155, 0.25);
  padding-inline: clamp(1.5rem, 5vw, 7rem);
  padding-top: 5rem;
  padding-bottom: 3rem;
  z-index: 10;
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
  display: none;
  grid-template-columns: repeat(2, 1fr);
}
body section#showcase .context-menu.active {
  display: grid;
}
body section#showcase .context-menu .context-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-top: 1px solid #ebebeb;
}
body section#showcase .context-menu .context-content h4 {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-size: 1.9rem;
  letter-spacing: 0.55px;
}
body section#showcase .context-menu .context-content h4::after {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  width: 25%;
  height: 2px;
  background-color: #000;
}
body section#showcase .context-menu .context-content a {
  font-size: 1.3rem;
  margin-top: 0.5rem;
  color: #4d4d4d;
  width: max-content;
  margin-bottom: 0.3rem;
  display: block;
  text-transform: uppercase;
  font-family: "Brandon_Grotesque-Medium", serif;
  font-size: clamp(1.45rem, 3vw, 1.5rem);
  line-height: 1.7;
  letter-spacing: 0.25px;
}
body section#showcase .context-menu .context-content .context-collection {
  justify-self: flex-end;
  padding-top: 2rem;
  padding-right: 5rem;
  border-right: 1px solid #ebebeb;
}
body section#showcase .context-menu .context-content .context-category {
  padding-top: 2rem;
  padding-left: 5rem;
}
body section#showcase .context-image {
  display: flex;
  justify-content: center;
}
body section#showcase .context-image img {
  width: 50%;
  border-radius: 0.7rem;
}
body section#showcase .showcase-carousel {
  width: 100%;
  height: 57rem;
  /* background-color: #eee; */
}

body .overall-container {
  /* max-width: 1200px;
  margin-inline: auto; */
}
body .overall-container section#dream {
  /* width: 100vw; */
  padding-inline: 3.5rem;
  margin-bottom: 20rem;
}
body .overall-container section#dream img.dream-image {
  width: 100%;
  border-radius: 1rem;
}
body .overall-container section#dream .dream-content {
  margin-top: 2rem;
}
body .overall-container section#dream .dream-content h2.dream-title {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding-bottom: 1rem;
  position: relative;
}
body .overall-container section#dream .dream-content h2.dream-title::after {
  content: "";
  height: 1.5px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -7px;
  width: 5rem;
  background-color: #000;
}
body .overall-container section#dream .dream-content p.dream-description {
  margin-block: 3rem;
  font-size: 1.8rem;
  text-align: justify;
}

section#trending {
  padding-block: 7.5rem;
  padding-inline: clamp(2.5rem, 2vw, 7.5rem);
  /* background-color: #050b16; */
}
section#trending h2.trending-title {
  text-transform: uppercase;
  text-align: center;
  color: #000;
  padding-bottom: 1rem;
  margin-bottom: 5rem;
  position: relative;
  line-height: 1.35;
  font-size: 2.4rem;
  letter-spacing: 2px;
}
section#trending h2.trending-title::after {
  content: "";
  height: 1.5px;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -4px;
  width: 5rem;
  background-color: #000;
}
section#trending .trending-image-container {
  width: 100%;
}
section#trending .trending-image-container img.trending-image {
  width: 100%;
  border-radius: 7px;
}
section#trending a.view-collections {
  display: block;
  width: max-content;
  margin-inline: auto;
  padding: 1.6rem 4.5rem;
  border-radius: 3px;
  margin-top: 4.5rem;
  background-color: #000;
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

@media screen and (min-width: 810px) {
  section#trending .trending-image-container img.trending-image {
    width: 65%;
  }
}

section#arrival {
  height: max-content;
  /* border: 1px solid #e8928f; */
  border: 1px solid #000;
  margin-top: 7.5rem;
  position: relative;
  margin-inline: 2rem;
  /* padding-inline: 9rem; */
  margin-bottom: 5rem;
}
section#arrival h2.arrivals-title {
  font-size: 2.4rem;
  text-align: center;
  padding-inline: 1rem;
  position: absolute;
  top: -1.6rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  color: #000;
  background-color: white;
}
section#arrival .product-container {
  /* height: 20rem; */
  width: 100%;
  margin-block: 6rem;
}

body footer#footer-main {
  padding-inline: clamp(1.5rem, 5vw, 7rem);
  padding-block: 5rem;
  border-top: 1px solid #e2e2e2;
}
body footer#footer-main .footer-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 4.5rem;
}
body footer#footer-main .footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10rem;
}
body footer#footer-main .footer-grid .helpful {
  justify-self: flex-end;
}
body footer#footer-main .footer-grid .helpful h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
body footer#footer-main .footer-grid .helpful ul.footer-list {
  margin-top: 1.5rem;
}
body
  footer#footer-main
  .footer-grid
  .helpful
  ul.footer-list
  li.footer-list-item
  a.footer-link {
  display: inline-block;
  margin-top: 0.5rem;
  font-size: 13px;
  text-transform: uppercase;
  color: #4d4d4d;
}
body footer#footer-main .footer-grid .footer-social {
  display: inline-block;
}
body footer#footer-main .footer-grid .footer-social .social {
  width: max-content;
}
body footer#footer-main .footer-grid .footer-social .social h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
}
body footer#footer-main .footer-grid .footer-social .social a.social-link {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #4d4d4d;
  letter-spacing: 1px;
}
body footer#footer-main .footer-copyright {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  body #nav-container {
    display: none;
  }
  body nav#mobile-navbar {
    display: grid;
    position: relative;
  }
  body nav#mobile-navbar .navbar-logo {
    padding-top: 2px;
  }
  body nav#mobile-navbar .nav-menu {
    display: none;
    background-color: #000;
    padding-inline: clamp(1.5rem, 5vw, 7rem);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    z-index: 5;
  }
  body nav#mobile-navbar .nav-menu .nav-menu-cancel-icon {
    margin-block: 1.5rem 2.5rem;
  }
  body nav#mobile-navbar .nav-menu .nav-menu-cancel-icon img {
    height: 30px;
    margin-left: -7px;
    cursor: pointer;
  }
  body nav#mobile-navbar .nav-menu ul li {
    border-bottom: 1px solid rgba(51, 51, 51, 0.65);
    padding-block: 1.5rem;
    letter-spacing: 2px;
  }
  body nav#mobile-navbar .nav-menu ul li a {
    color: #fff;
    font-family: "Avenir-Medium", sans-serif;
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    h2.accordion-header
    button.accordion-button,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    h2.accordion-header
    button.accordion-button,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    h2.accordion-header
    button.accordion-button {
    padding-left: 0;
    background-color: #000;
    color: #fff;
    font-size: clamp(1.45rem, 3vw, 1.5rem);
    font-family: "Avenir-Medium", sans-serif;
    border-color: #000;
    box-shadow: none;
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    h2.accordion-header
    button.accordion-button:not(.collapsed)::after,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    h2.accordion-header
    button.accordion-button:not(.collapsed)::after,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    h2.accordion-header
    button.accordion-button:not(.collapsed)::after {
    transform: rotate(0deg);
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    h2.accordion-header
    button.accordion-button::after,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    h2.accordion-header
    button.accordion-button::after,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    h2.accordion-header
    button.accordion-button::after {
    background-size: 12px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23ffffff;" /></svg>');
    margin-top: 6px;
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseOne
    .accordion-body,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseTwo
    .accordion-body,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseThree
    .accordion-body,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseOne
    .accordion-body,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseTwo
    .accordion-body,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseThree
    .accordion-body,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseOne
    .accordion-body,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseTwo
    .accordion-body,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseThree
    .accordion-body {
    background-color: #000;
    color: #fff;
    font-family: "Avenir-Medium", sans-serif;
    letter-spacing: 0.55px;
    padding-bottom: 2.5rem;
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseOne
    .accordion-body:first-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseTwo
    .accordion-body:first-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseThree
    .accordion-body:first-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseOne
    .accordion-body:first-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseTwo
    .accordion-body:first-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseThree
    .accordion-body:first-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseOne
    .accordion-body:first-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseTwo
    .accordion-body:first-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseThree
    .accordion-body:first-of-type {
    padding-top: 2rem;
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseOne
    .accordion-body:last-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseTwo
    .accordion-body:last-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseThree
    .accordion-body:last-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseOne
    .accordion-body:last-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseTwo
    .accordion-body:last-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseThree
    .accordion-body:last-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseOne
    .accordion-body:last-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseTwo
    .accordion-body:last-of-type,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseThree
    .accordion-body:last-of-type {
    padding-bottom: 1rem;
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseOne
    .accordion-body
    h5.accordion-links-heading,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseTwo
    .accordion-body
    h5.accordion-links-heading,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseThree
    .accordion-body
    h5.accordion-links-heading,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseOne
    .accordion-body
    h5.accordion-links-heading,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseTwo
    .accordion-body
    h5.accordion-links-heading,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseThree
    .accordion-body
    h5.accordion-links-heading,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseOne
    .accordion-body
    h5.accordion-links-heading,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseTwo
    .accordion-body
    h5.accordion-links-heading,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseThree
    .accordion-body
    h5.accordion-links-heading {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 12.5px;
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseOne
    .accordion-body
    .accordion-links-container,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseTwo
    .accordion-body
    .accordion-links-container,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseThree
    .accordion-body
    .accordion-links-container,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseOne
    .accordion-body
    .accordion-links-container,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseTwo
    .accordion-body
    .accordion-links-container,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseThree
    .accordion-body
    .accordion-links-container,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseOne
    .accordion-body
    .accordion-links-container,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseTwo
    .accordion-body
    .accordion-links-container,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseThree
    .accordion-body
    .accordion-links-container {
    margin-top: 1rem;
  }
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseOne
    .accordion-body
    .accordion-links-container
    a.accordion-link,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseTwo
    .accordion-body
    .accordion-links-container
    a.accordion-link,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample1.accordion
    #flush-collapseThree
    .accordion-body
    .accordion-links-container
    a.accordion-link,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseOne
    .accordion-body
    .accordion-links-container
    a.accordion-link,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseTwo
    .accordion-body
    .accordion-links-container
    a.accordion-link,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample2.accordion
    #flush-collapseThree
    .accordion-body
    .accordion-links-container
    a.accordion-link,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseOne
    .accordion-body
    .accordion-links-container
    a.accordion-link,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseTwo
    .accordion-body
    .accordion-links-container
    a.accordion-link,
  body
    nav#mobile-navbar
    .nav-menu
    ul
    li
    #accordionFlushExample3.accordion
    #flush-collapseThree
    .accordion-body
    .accordion-links-container
    a.accordion-link {
    width: max-content;
    display: block;
    padding-left: 7px;
    padding-bottom: 4.5px;
    font-size: 1.4rem;
  }
  body nav#mobile-navbar .search-mobile {
    display: none;
    background-color: #fff;
    border-top: 1px solid rgba(51, 51, 51, 0.25);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-block: clamp(1rem, 1vw, 1.5rem);
    padding-right: 0;
    border-bottom: 1px solid rgba(51, 51, 51, 0.5);
  }
  body nav#mobile-navbar .search-mobile.active {
    display: block;
  }
  body nav#mobile-navbar .search-mobile .search-grid {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 10% 85% 5%;
    padding-inline: 2rem;
    row-gap: 3rem;
  }
  body nav#mobile-navbar .search-mobile .search-grid .search-icon {
    display: flex;
    justify-content: flex-start;
  }
  body nav#mobile-navbar .search-mobile .search-grid .search-icon img {
    height: clamp(2.25rem, 5vw, 2.75rem);
  }
  body nav#mobile-navbar .search-mobile .search-grid input {
    color: #000;
    border: none;
    width: inherit;
  }
  body nav#mobile-navbar .search-mobile .search-grid input::placeholder {
    color: rgba(51, 51, 51, 0.75);
    letter-spacing: 3px;
  }
  body nav#mobile-navbar .search-mobile .search-grid img.search-cancel-mobile {
    height: clamp(2.5rem, 5vw, 2.75rem);
    cursor: pointer;
  }
  body nav#mobile-navbar .search-mobile .search-grid .results {
    grid-column: span 3;
    margin-bottom: 1.5rem;
  }
  body nav#mobile-navbar .search-mobile .search-grid .results .results-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
  }
  body
    nav#mobile-navbar
    .search-mobile
    .search-grid
    .results
    .results-header
    h4 {
    font-family: "Avenir-Medium", sans-serif;
  }
  body
    nav#mobile-navbar
    .search-mobile
    .search-grid
    .results
    .results-header
    h4,
  body
    nav#mobile-navbar
    .search-mobile
    .search-grid
    .results
    .results-header
    a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
  }
  body nav#mobile-navbar .search-mobile .search-grid .results .results-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 2rem;
  }
  body
    nav#mobile-navbar
    .search-mobile
    .search-grid
    .results
    .results-grid
    .result
    .result-img {
    width: 100%;
  }
  body
    nav#mobile-navbar
    .search-mobile
    .search-grid
    .results
    .results-grid
    .result
    .result-img
    img {
    width: 100%;
  }
  body
    nav#mobile-navbar
    .search-mobile
    .search-grid
    .results
    .results-grid
    .result
    .result-details
    p {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: clamp(1.3rem, 1.5vw, 1.7rem);
  }
}

@media screen and (min-width: 810px) {
  body .overall-container section#dream img.dream-image {
    width: 70%;
    display: block;
    margin-inline: auto;
    margin-bottom: 5rem;
  }
  body .overall-container section#dream .dream-content p.dream-description {
    width: 70%;
    margin-inline: auto;
  }
}

@media screen and (min-width: 1025px) {
  body .overall-container section#dream {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4rem;
    padding-inline: 4.5rem;
  }
  body .overall-container section#dream img.dream-image {
    width: 100%;
  }
  body .overall-container section#dream .dream-content {
    margin-top: 0;
  }
  body .overall-container section#dream .dream-content h2.dream-title {
    text-align: left;
    font-size: 3.2rem;
  }
  body .overall-container section#dream .dream-content h2.dream-title::after {
    margin: 0;
    width: 9rem;
    height: 2px;
  }
  body .overall-container section#dream .dream-content p.dream-description {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  body nav#mobile-navbar .search-mobile {
    box-shadow: 0px 3px 9px 0px rgba(155, 155, 155, 0.25);
    border-bottom: none;
  }
  body nav#mobile-navbar .search-mobile .search-grid .results {
    max-height: 320px;
    overflow-y: scroll;
  }
  body nav#mobile-navbar .search-mobile .search-grid .results .results-header {
    position: sticky;
    top: 0;
    right: 0;
    background-color: #fff;
  }
  body nav#mobile-navbar .search-mobile .search-grid .results .results-grid {
    grid-template-columns: 1fr;
  }
  body
    nav#mobile-navbar
    .search-mobile
    .search-grid
    .results
    .results-grid
    a.result {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
  }
  body
    nav#mobile-navbar
    .search-mobile
    .search-grid
    .results
    .results-grid
    a.result
    .result-details
    p {
    text-align: left;
  }
}

@media screen and (max-width: 525px) {
  body footer#footer-main .footer-grid {
    grid-template-columns: 1fr;
  }
  body footer#footer-main .footer-grid .helpful {
    justify-self: flex-start;
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 400px) {
  body
    .overall-container
    section#brand
    .brand-grid
    .image-wrapper
    .brand-grid-image {
    height: 45rem;
  }
}

@media screen and (min-width: 900px) {
  body #nav-container {
    display: block;
  }
  body nav#mobile-navbar {
    display: none;
  }
}

/* ARRIVAL CAROUSEL*/
a.carousel-item-link {
  border-radius: 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0px 1px 3px 0px rgba(155, 155, 155, 0.35); */
  display: block;
  width: 100%;
  padding-bottom: 1.5rem;

  /* RESTRICT DESCRIPTION FROM GOING NEXT LINE */
  white-space: nowrap;
}
img.carousel-item-image {
  /* border-radius: 10px; */
  width: 80%;
  height: 100%;
  display: block;
  margin-inline: auto;
}
p.carousel-item-title {
  font-size: 1.8rem;
  margin-top: 0;
  text-transform: capitalize;
  text-align: center;
  /* padding-inline: 2rem; */

  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 810px) {
  img.carousel-item-image {
    width: 100%;
  }
}
