body {
  background-color: #1c1c1c;
}
body .dashboard-grid {
  display: grid;
  grid-template-columns: 10% 90%;
}
body .dashboard-grid .dashboard-sidebar {
  padding: 15px 15px 0 15px;
  height: 100vh;
}
body .dashboard-grid .dashboard-sidebar .sidebar-logo img {
  display: block;
  margin-inline: auto;
  height: 45px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links {
  margin-top: 7rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.home-link {
  display: flex;
  justify-content: center;
  margin-inline: auto;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links hr {
  color: #707070;
  margin: 3rem 0 3.5rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.order-link img {
  padding: 10px;
  background-color: #242424;
  border-radius: 5px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.product-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.customer-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.order-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.conditions-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.product-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.customer-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.order-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.conditions-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link img {
  padding: 10px;
  border-radius: 5px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link img {
  height: 43px;
  width: 43px;
}
body .dashboard-grid .dashboard-container {
  border-left: 1px solid #282828;
  padding-bottom: 3.5rem;
}
body .dashboard-grid .dashboard-container .divider {
  border-bottom: 1px solid #282828;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 3rem;
}
body .dashboard-grid .dashboard-container section.dashboard-main {
  padding-inline: 3rem;
}
body .dashboard-grid .dashboard-container section.dashboard-main .area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  h3 {
  color: #e6e6e6;
  font-family: "Avenir-Medium", sans-serif;
  letter-spacing: 0.45px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  a {
  padding: 12px 20px;
  background-color: #34b27b;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 1.2px;
}
body .dashboard-grid .dashboard-container section.dashboard-main .area-filters {
  margin-top: 5rem;
  border: 1px solid #282828;
  display: flex;
  justify-content: space-between;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-filters
  input#search-product {
  background-color: transparent;
  flex-grow: 1;
  padding: 2rem;
  font-family: "Brandon_Grotesque-Medium", sans-serif;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-filters
  input#search-product::placeholder {
  font-family: "Brandon_Grotesque-Medium", sans-serif;
  color: #fff;
  text-transform: uppercase;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-filters
  .filter-sort {
  display: flex;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-filters
  .filter-sort
  button.filter,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-filters
  .filter-sort
  button.sort {
  display: inline-block;
  padding: 2rem;
  background-color: transparent;
}
body .dashboard-grid .dashboard-container section.dashboard-main .area-table {
  padding-top: 2.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table {
  width: 100%;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  thead
  tr {
  background-color: #232323;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  thead
  tr
  th {
  color: #fff;
  text-transform: uppercase;
  padding-top: 2.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  thead
  tr
  th:nth-child(1) {
  accent-color: #0d50ae;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  tr
  th {
  min-width: max-content;
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  padding-inline: 1rem;
  padding-block: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.4rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  tr
  td {
  font-family: "Brandon_Grotesque-Regular", serif;
  padding-inline: 1rem;
  padding-top: 2rem;
  padding-bottom: 2.3rem;
  font-size: 1.6rem;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.75px;
  min-width: max-content;
  vertical-align: top;
  border-bottom: 2px solid #282828;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  tr
  td:nth-child(3) {
  color: #3e8e86;
  font-weight: 400;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  tr
  td
  a {
  font-size: 1.6rem;
  margin-bottom: 0;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #000;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  tbody
  tr
  td {
  color: #a6a6a6;
  font-family: "Brandon_Grotesque-Regular", serif;
  letter-spacing: 0.55px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  tbody
  tr
  td:nth-child(1) {
  accent-color: #0d50ae;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-table
  table
  tbody
  tr
  td:nth-child(2)
  a {
  color: #578edb;
  border-bottom: 1px solid #578edb;
}
