body {
  background-color: #1c1c1c;
}
body .dashboard-grid {
  display: grid;
  grid-template-columns: 10% 90%;
}
body .dashboard-grid .dashboard-sidebar {
  padding: 15px 15px 0 15px;
  height: 100vh;
}
body .dashboard-grid .dashboard-sidebar .sidebar-logo img {
  display: block;
  margin-inline: auto;
  height: 45px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links {
  margin-top: 7rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.home-link {
  display: flex;
  justify-content: center;
  margin-inline: auto;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links hr {
  color: #707070;
  margin: 3rem 0 3.5rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.order-link img {
  padding: 10px;
  background-color: #242424;
  border-radius: 5px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.product-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.customer-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.order-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.conditions-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.product-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.customer-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.order-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.conditions-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link img {
  padding: 10px;
  border-radius: 5px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link {
  width: 43px;
  height: 43px;
}
body .dashboard-grid .dashboard-container {
  border-left: 1px solid #282828;
  padding-bottom: 4rem;
}
body .dashboard-grid .dashboard-container .divider {
  border-bottom: 1px solid #282828;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 3rem;
}
body .dashboard-grid .dashboard-container section.dashboard-main {
  padding-inline: clamp(1.5rem, 5vw, 7rem);
}
body .dashboard-grid .dashboard-container section.dashboard-main .area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title {
  display: flex;
  align-items: center;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title
  img {
  height: 40px;
  rotate: 180deg;
  background-color: #232323;
  border-radius: 3px;
  padding-block: 10px;
  padding-inline: 10px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title
  h3 {
  line-height: normal;
  margin-left: 15px;
  text-align: center;
  color: #e6e6e6;
  font-family: "Avenir-Medium", sans-serif;
  display: flex;
  align-items: center;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title
  h3
  span.payment-tablet,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title
  h3
  span.fulfillment-tablet {
  margin-left: 10px;
  font-size: 13px;
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.5rem 2rem;
  border-radius: 10rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title
  h3
  span.payment-tablet {
  background-color: #34b27b;
  color: #fff;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title
  h3
  span.fulfillment-tablet {
  background-color: #f4f900;
  color: #000;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .semantic.ui.dropdown.selection {
  margin-top: 1rem;
  background-color: transparent;
  border-color: #00c04d;
  display: block;
  font-family: "Brandon_Grotesque-Regular";
  font-size: 16px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .semantic.ui.dropdown.selection
  i {
  color: #00c04d;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .semantic.ui.dropdown.selection
  .text {
  letter-spacing: 0.3px;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #00c04d;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .semantic.ui.dropdown.selection
  .menu
  .item {
  color: #000;
  font-family: "Brandon_Grotesque-Regular";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}
body .dashboard-grid .dashboard-container section.dashboard-main .area-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.order-date
  h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Brandon_Grotesque-Medium", sans-serif;
  letter-spacing: 0.55px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.order-date
  p {
  color: #999999;
  font-family: "Brandon_Grotesque-Regular", sans-serif;
  margin-top: 5px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.ordered-items {
  margin-top: 6.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.ordered-items
  h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Brandon_Grotesque-Medium", sans-serif;
  letter-spacing: 0.55px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.ordered-items
  .item-grid {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.ordered-items
  .item-grid:nth-child(2) {
  margin-top: 1.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.ordered-items
  .item-grid
  .item-detail
  a {
  color: #578edb;
  text-decoration: underline;
  font-size: 1.6rem;
  font-family: "Brandon_Grotesque-Medium", sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.ordered-items
  .item-grid
  .item-detail
  p {
  color: #999999;
  margin-top: 5px;
  font-family: "Brandon_Grotesque-Regular", sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.ordered-items
  .item-grid
  p.item-quantity,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.ordered-items
  .item-grid
  p.item-amount {
  margin-top: 0;
  font-family: "Brandon_Grotesque-Regular", sans-serif;
  color: #999999;
  justify-self: flex-end;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount {
  margin-top: 6.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Brandon_Grotesque-Medium", sans-serif;
  letter-spacing: 0.55px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .subtotal-grid {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .subtotal-grid
  p.subtotal-title,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .subtotal-grid
  p.subtotal-quantity,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .subtotal-grid
  p.subtotal-amount {
  color: #999999;
  margin-top: 0px;
  font-family: "Brandon_Grotesque-Regular", sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .subtotal-grid
  p.subtotal-title {
  color: #fff;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .subtotal-grid
  p.subtotal-quantity,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .subtotal-grid
  p.subtotal-amount {
  justify-self: flex-end;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .shipping-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .shipping-grid
  p.shipping-title,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .shipping-grid
  p.shipping-option,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .shipping-grid
  p.shipping-amount {
  color: #999999;
  font-family: "Brandon_Grotesque-Regular", sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .shipping-grid
  p.shipping-title {
  color: #fff;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .shipping-grid
  p.shipping-option,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .shipping-grid
  p.shipping-amount {
  justify-self: flex-end;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .tax-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: flex-start;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #2e2e2e;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .tax-grid
  p.tax-title,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .tax-grid
  p.tax-percentage,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .tax-grid
  p.tax-amount {
  color: #999999;
  font-family: "Brandon_Grotesque-Regular", sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .tax-grid
  p.tax-title {
  color: #fff;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .tax-grid
  p.tax-percentage,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .tax-grid
  p.tax-amount {
  justify-self: flex-end;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .total-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .total-grid
  p {
  color: #fff;
  font-family: "Brandon_Grotesque-Medium", sans-serif;
  grid-column: span 1;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .order-details
  section.invoice-amount
  .total-grid
  p.total-amount {
  color: #34b27b;
  grid-column: span 2;
  justify-self: flex-end;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details {
  margin-left: auto;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card {
  background-color: #232323;
  width: max-content;
  padding: 3.5rem 5.5rem 3.5rem 3rem;
  border-radius: 1rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  h4 {
  color: #fff;
  text-transform: uppercase;
  font-family: "Brandon_Grotesque-Medium", sans-serif;
  letter-spacing: 0.55px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  h5 {
  color: #fff;
  font-family: "Brandon_Grotesque-Medium", sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  p {
  color: #999999;
  font-family: "Brandon_Grotesque-Regular", sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .customer-name {
  margin-top: 2.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .customer-name
  p {
  margin-top: 5px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .customer-email {
  margin-top: 2.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .customer-email
  p {
  margin-top: 3px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .shipping-address {
  margin-top: 2.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .shipping-address
  p {
  margin-top: 0;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .shipping-address
  p:nth-child(2) {
  margin-top: 5px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .billing-address {
  margin-top: 2.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .customer-details
  .details-card
  .billing-address
  p {
  margin-top: 5px;
}
