body {
  background-color: #1c1c1c;
}
body .dashboard-grid {
  display: grid;
  grid-template-columns: 10% 90%;
}
body .dashboard-grid .dashboard-sidebar {
  padding: 15px 15px 0 15px;
  height: 100vh;
}
body .dashboard-grid .dashboard-sidebar .sidebar-logo img {
  display: block;
  margin-inline: auto;
  height: 45px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links {
  margin-top: 7rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.home-link {
  display: flex;
  justify-content: center;
  margin-inline: auto;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links hr {
  color: #707070;
  margin: 3rem 0 3.5rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.product-link img {
  padding: 10px;
  background-color: #242424;
  border-radius: 5px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.product-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.customer-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.order-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.conditions-link,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-bottom: 1.5rem;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.product-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.customer-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.order-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.conditions-link img,
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link img {
  padding: 10px;
  border-radius: 5px;
}
body .dashboard-grid .dashboard-sidebar .dashboard-links a.refunds-link img {
  height: 43px;
  width: 43px;
}
body .dashboard-grid .dashboard-container {
  border-left: 1px solid #282828;
  padding-bottom: 3.5rem;
}
body .dashboard-grid .dashboard-container .divider {
  border-bottom: 1px solid #282828;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 3rem;
}
body .dashboard-grid .dashboard-container section.dashboard-main {
  padding-inline: clamp(1.5rem, 5vw, 7rem);
}
body .dashboard-grid .dashboard-container section.dashboard-main .area-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title {
  display: flex;
  align-items: center;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title
  img {
  height: 40px;
  rotate: 180deg;
  background-color: #232323;
  border-radius: 3px;
  padding-block: 10px;
  padding-inline: 10px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  .arrow-title
  h3 {
  margin-left: 15px;
  text-align: center;
  color: #e6e6e6;
  font-family: "Avenir-Medium", sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-header
  button {
  display: inline-block;
  width: min-content;
  padding: 12px 20px;
  background-color: #34b27b;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 1.2px;
}
body .dashboard-grid .dashboard-container section.dashboard-main .area-grid {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 5rem;
  column-gap: 5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-content,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-status,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-organization,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-inventory,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-recommendations,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.refunds {
  border: 1px solid #282828;
  border-radius: 5px;
}
body .dashboard-grid .dashboard-container section.dashboard-main .area-grid h4 {
  font-family: "Avenir-Medium", sans-serif;
  text-transform: capitalize;
  background-color: #232323;
  padding: 2rem;
  color: #e6e6e6;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-wrapper {
  padding-inline: 2rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-wrapper
  .semantic.ui.dropdown.selection {
  margin-top: 1rem;
  background-color: transparent;
  border-color: #a6a6a6;
  display: block;
  font-family: "Brandon_Grotesque-Regular";
  font-size: 16px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-wrapper
  .semantic.ui.dropdown.selection
  i {
  color: #a6a6a6;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-wrapper
  .semantic.ui.dropdown.selection
  .text {
  color: #a6a6a6;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-wrapper
  .semantic.ui.dropdown.selection
  .menu
  .item {
  color: #000;
  font-family: "Brandon_Grotesque-Regular";
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.55px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-control {
  margin-top: 3.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-control
  label {
  color: #a6a6a6;
  display: block;
  font-family: "Brandon_Grotesque-Medium", serif;
  text-transform: capitalize;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-control
  input,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .form-control
  textarea {
  width: 100%;
  background-color: transparent;
  border: 2px solid #282828;
  color: #fff;
  font-family: "Brandon_Grotesque-Regular", serif;
  font-size: 16px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-content
  input[type="number"] {
  -moz-appearance: textfield;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-content
  input[type="number"]::placeholder {
  color: #a6a6a6;
  letter-spacing: 0.2px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-content
  input::-webkit-outer-spin-button,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-content
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options {
  grid-column: 2/3;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-status {
  border-radius: 5px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-status
  h4 {
  display: block;
  text-transform: capitalize;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-status
  .form-wrapper {
  padding-block: 2rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-status
  .form-wrapper
  select {
  font-family: "Chronicle_Display-Light", sans-serif;
  padding: 15px 12px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  width: 80%;
  margin-bottom: 1.5rem;
  /* Replace Default Select Styling (arrow) */
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 30px;
  transition: all 0.5s;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-status
  .form-wrapper
  select:hover,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-status
  .form-wrapper
  select:focus {
  outline: none;
  border: 1px solid #a6a6a6;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-status
  .form-wrapper
  select
  option {
  font-family: "Brandon_Grotesque-Medium", serif;
  background-color: #fff;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-organization {
  border-radius: 5px;
  margin-top: 5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-organization
  .form-control:nth-child(1) {
  margin-top: 0;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-organization
  .form-wrapper {
  padding-block: 2rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-organization
  .form-wrapper
  select {
  font-family: "Chronicle_Display-Light", sans-serif;
  padding: 15px 12px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  cursor: pointer;
  width: 80%;
  margin-bottom: 1.5rem;
  /* Replace Default Select Styling (arrow) */
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="50"><polygon points="0,0 100,0 50,50" style="fill:%23666666;" /></svg>');
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 10px;
  padding-right: 30px;
  transition: all 0.5s;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-organization
  .form-wrapper
  select:hover,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-organization
  .form-wrapper
  select:focus {
  outline: none;
  border: 1px solid #a6a6a6;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-organization
  .form-wrapper
  select
  option {
  font-family: "Brandon_Grotesque-Medium", serif;
  background-color: #fff;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-inventory {
  border-radius: 5px;
  margin-top: 5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-inventory
  input[type="number"] {
  -moz-appearance: textfield;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-inventory
  input[type="number"]::placeholder {
  color: #a6a6a6;
  letter-spacing: 0.2px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-inventory
  input::-webkit-outer-spin-button,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-inventory
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-inventory
  .form-control {
  margin-top: 0;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  .right-options
  section.product-inventory
  .form-wrapper {
  padding-block: 2.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-control {
  margin-top: 0;
  display: inline-block;
  margin-right: 1.7rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-control
  input {
  margin-left: 0;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-control
  input[type="checkbox"] {
  width: min-content;
  margin-top: 10px;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-control
  label {
  display: inline;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper {
  padding-block: 2rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .gold-colors,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .stone-type,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .enamels,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .sizes {
  margin-bottom: 2.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .gold-colors
  h5,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .stone-type
  h5,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .enamels
  h5,
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .sizes
  h5 {
  color: #a6a6a6;
  font-family: "Brandon_Grotesque-Medium", serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-options
  .form-wrapper
  .sizes
  small {
  display: block;
  margin-top: 1rem;
  color: #fff;
  font-size: 13px;
  font-family: sans-serif;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.refunds
  .form-wrapper {
  padding-block: 2rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.refunds
  .form-wrapper
  p {
  font-family: "Avenir-Medium";
  font-size: 1.55rem;
  color: #a6a6a6;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-recommendations
  .form-wrapper {
  padding-block: 2rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-recommendations
  .form-wrapper
  .recommended-option:nth-child(2) {
  margin-top: 1.5rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-recommendations
  .form-wrapper
  .recommended-option
  p {
  font-family: "Avenir-Medium", sans-serif;
  margin-bottom: 1rem;
  color: #a6a6a6;
  letter-spacing: -0.15px;
  font-size: 1.55rem;
}
body
  .dashboard-grid
  .dashboard-container
  section.dashboard-main
  .area-grid
  section.product-recommendations
  .form-wrapper
  .recommended-option:nth-child(1)
  p {
  margin-top: 0;
}
